<div class="m-3 mb-4">

  <hr class="my-4">
  <p class="text-center my-3" style="font-size: larger"><strong>Navigate by instrument/production role</strong></p>

  <form class="form-inline text-center">
    <div class="d-inline-flex">
      <p class="my-auto mx-3" [ngClass]="{'bg-info':instrumentIdx !== undefined}"><strong>Instrument</strong></p>
      <select name="band" class="form-select" style="width: 300px" [(ngModel)]="instrumentIdx" (ngModelChange)="queryInstrumentInfo()">
        <option disabled selected hidden [value]="undefined">select instrument</option>
        <option *ngFor="let ins of instruments; let i = index" [ngValue]="i">{{ins['instrumentLabel']}}</option>
      </select>
    </div>
  </form>

  <form class="form-inline text-center mt-4">
    <div class="d-inline-flex">
      <p class="my-auto mx-3" [ngClass]="{'bg-info':roleIdx !== undefined}"><strong>Production role</strong></p>
      <select name="band" class="form-select" style="width: 300px" [(ngModel)]="roleIdx" (ngModelChange)="queryRoleInfo()">
        <option disabled selected hidden [value]="undefined">select production role</option>
        <option *ngFor="let r of roles; let i = index" [ngValue]="i">{{r['roleLabel']}}</option>
      </select>
    </div>
  </form>

  <div *ngIf="instrumentIdx !== undefined">
    <hr class="my-4">

    <p class="mb-4 mx-3" style="font-size: xx-large">
      <strong class="mx-2" style="color: #00a0b8">{{instruments![instrumentIdx!]['instrumentLabel']}}</strong>
      -
    <span *ngIf="class !== undefined" class="mx-2" style="font-weight: lighter">{{class!['classLabel']}}</span>
    </p>
    <p class="m-4">{{format(instruments![instrumentIdx!]['instrumentComment'])}}</p>
  </div>

  <div *ngIf="roleIdx !== undefined">
    <hr class="my-4">

    <p class="mb-4 mx-3" style="font-size: xx-large">
      <strong class="mx-2" style="color: #00a0b8">{{roles![roleIdx!]['roleLabel']}}</strong>
      -
      <span *ngIf="class !== undefined" class="mx-2" style="font-weight: lighter">{{class!['classLabel']}}</span>
    </p>
    <p class="m-4">{{format(roles![roleIdx!]['roleComment'])}}</p>
  </div>

  <div class="m-4" *ngIf="genres !== undefined && genres.length > 0">
    <p class="mb-1" style="font-size: x-large"><strong>Genres</strong></p>
    <div class="row row-cols-md-2 row-cols-lg-3">
      <div class="col-auto" *ngFor="let g of genres">
        <p class="my-0"><span class="mx-3">●</span><small><a [routerLink]="['/genre', {genre:g['genre']}]">{{g['genreLabel']}}</a></small></p>
      </div>
    </div>
  </div>

  <div class="m-4" *ngIf="musicians !== undefined && musicians.length > 0">
    <p class="mb-1" style="font-size: x-large"><strong>Musicians</strong></p>
    <div class="row row-cols-md-2 row-cols-lg-3">
      <div class="col-auto" *ngFor="let m of musicians">
        <p class="my-0"><span class="mx-3">●</span><small><a [routerLink]="['/musician', {musician:m['musician']}]">{{m['musicianLabel']}}</a></small></p>
      </div>
    </div>
  </div>
</div>
