<div class="m-3 mb-4">

  <hr class="my-4">
  <p class="text-center my-3" style="font-size: larger"><strong>Navigate by band</strong></p>

  <form class="form-inline text-center">
    <div class="d-inline-flex">
      <p class="my-auto mx-3"><strong>Band</strong></p>
      <select name="band" class="form-select" style="width: 300px" [(ngModel)]="bandIdx" (ngModelChange)="queryAlbums()">
        <option disabled selected hidden [value]="undefined">select band</option>
        <option *ngFor="let b of bands; let i = index" [ngValue]="i">{{b}}</option>
      </select>
    </div>
  </form>

  <div *ngIf="bandIdx !== undefined && albums && albums!.length === 0" class="text-center text-warning" style="font-size: larger; margin: 100px; text-decoration: underline">
    No albums for {{bands![bandIdx!]}} from 1966 to 1976
  </div>

  <form *ngIf="bandIdx !== undefined && albums && albums!.length > 0" class="form-inline text-center mt-4">
    <div class="d-inline-flex">
      <p class="my-auto mx-3"><strong>Album</strong></p>
      <select name="band" class="form-select" style="width: 300px" [(ngModel)]="albumIdx" (ngModelChange)="queryAlbumInfo()">
        <option disabled selected hidden [value]="undefined">select album</option>
        <option *ngFor="let a of albums; let i = index" [ngValue]="i">{{a['albumLabel']}}</option>
      </select>
    </div>
  </form>

  <div *ngIf="albumIdx !== undefined">
    <hr class="my-4">
    <p class="mb-4 mx-3" style="font-size: xx-large">
      <strong class="mx-2" style="color: #00a0b8">{{bands![bandIdx!]}}</strong>
      -
      <strong class="mx-2">{{albums![albumIdx]['albumLabel']}}</strong>
      -
      <span class="mx-2" style="font-weight: lighter">{{albums![albumIdx]['year']}}</span>
    </p>

    <p class="m-4">{{albums![albumIdx]['albumComment']}}.</p>

    <div class="text-center m-4">
      <img [src]="albums![albumIdx]['imageUrl']" class="img img-fluid" width="350px" alt="album image">
    </div>

    <div class="m-4">
      <p class="mb-1"><strong>Tracks:</strong></p>
      <div *ngFor="let t of tracks[albums![albumIdx]['album']]">
        <p class="my-0"><small>{{t['n']}} - {{t['trackLabel']}} ({{t['minutes']}}:{{t['seconds'] === '0' ? '00' : t['seconds']}})</small></p>
      </div>
    </div>

    <div class="m-4">
      <p class="mb-1"><strong>Members:</strong></p>
      <div *ngFor="let e of entries(membersInstrument)">
        <p class="my-0"><small><span class="mx-3">●</span>{{e[0]}}: <a [routerLink]="['/instrument', {instrument:i['instrument']}]" *ngFor="let i of e[1]; let j = index">{{i['instrumentLabel']}}{{j + 1 < e[1].length ? ', ' : ''}}</a></small></p>
      </div>
    </div>

    <div *ngIf="entries(membersRole).length > 0" class="m-4">
      <p class="mb-1"><strong>Production roles:</strong></p>
      <div *ngFor="let e of entries(membersRole)">
        <p class="my-0"><small><span class="mx-3">●</span>{{e[0]}}: <a [routerLink]="['/instrument', {role:i['role']}]" *ngFor="let i of e[1]; let j = index">{{i['roleLabel']}}{{j + 1 < e[1].length ? ', ' : ''}}</a></small></p>
      </div>
    </div>

    <div class="m-4">
      <p class="mb-1"><strong>Genres:</strong></p>
      <div *ngFor="let g of genres">
        <p class="my-0"><span class="mx-3">●</span><small><a [routerLink]="['/genre', {genre:g['genre']}]">{{g['genreLabel']}}</a></small></p>
      </div>
    </div>
  </div>
</div>
