body {
  background-image: url("/assets/img/bg.png");
}

.card-hover {
  transition: transform .1s ease-in-out;
  cursor: pointer;
}

.card-hover:hover {
  transform: scale(1.1);
  background-color: #f8f9fa;
}
