body {
  background-image: url("/assets/img/bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.card-hover {
  transition: transform .1s ease-in-out;
  cursor: pointer;
}

.card-hover:hover {
  transform: scale(1.1);
  background-color: #f8f9fa;
}

.hover {
  transition: transform .1s ease-in-out;
  cursor: pointer;
}

.hover:hover {
  transform: scale(1.02);
}

.bg-selected {
  background-color: aquamarine;
}
