<div class="m-3 row justify-content-center text-center">
  <div class="col-auto mb-4" style="text-align: left">
    <p><strong style="color: #007383">IPRO</strong> is the first ontology of the genre of <em>Italian Progressive Rock</em>. Its features are:</p>
    <ul>
      <li>highly interconnected individuals</li>
      <li>easy navigation</li>
      <li>focus on studio albums</li>
      <li>focus on instruments and members</li>
      <li>focus on genres influences</li>
    </ul>
  </div>

  <div class="w-75">
    <div routerLink="band" class="card card-hover shadow-sm">
      <p><strong>🎤🎼 Navigate by band</strong></p>
    </div>

    <div routerLink="genre" class="card card-hover shadow-sm">
      <p><strong>🎶📝 Navigate by genre</strong></p>
    </div>

    <div routerLink="instrument" class="card card-hover shadow-sm">
      <p><strong>🎸🎧 Navigate by instrument/production role</strong></p>
    </div>

    <div routerLink="musician" class="card card-hover shadow-sm">
      <p><strong>👨🎷 Navigate by musician</strong></p>
    </div>

    <p><small><strong style="color: #007383">IPRO</strong> is a university project of the course <em>Modellazione concettuale per il Web Semantico</em> of <strong>Università degli Studi di Torino</strong>,
      Department of Computer Science.</small></p>
    <p><small>Mantained by <a href="https://github.com/dawoz">Davide Zago</a>🔗 on <a href="https://github.com/dawoz/ipro">Github</a>🔗</small></p>
  </div>
</div>
